<section id="footer">
    <div class="container content-wrapper">
        <div class="row social-media">
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/Twitter%20round.png">
                </div>
            </div>
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/FacebookRound.png">
                </div>
            </div>
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/Pinterest%20round.png">
                </div>
            </div>
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/Tumblr%20round.png">
                </div>
            </div>
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/Pinterest%20round.png">
                </div>
            </div>
            <div class="thumbnail col-md-2">
                <div class="image">
                    <img src="images/social-media/Google%20plus%20round.png">
                </div>
            </div>
        </div>
        <div class="info">
            
        </div>
    </div>
</section>