<head>
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <title>EatMate | Never Eat Alone</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>



<section id="landing">
    <div id="img-wrapper">
        <div class="container">
            <div class="row landing-login">
                <div class="col-sm-12 col-md-5 pull-right">
                    <div class="panel">
                        <div class="panel-title">
                            <h3>EAT<span>MATE</span> | Meet new people</h3>
                            <subtitle>Register today and connect with others around you</subtitle>
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>