$grey: #B2B2B2;
* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;;
}

#landing {
    .container {
        .landing-login {
            .panel {
                height: 450px;
                margin-top: 120px;
                background: rgba(178, 178, 178, 0.7);
                border: 1px solid $grey;
                border-radius: 0px;
                .panel-title {
                    margin-left: 10px;
                    margin-bottom: -15px;
                    span {
                        font-weight: 700;
                        color: #57cc3d;
                    }
                }
                .panel-body {
                    div {
                        margin-bottom: 10px;
                    }
                    label {
                        font-size: 15px;
                        width: 40%;
                    }
                    input,
                    select {
                        width: 80%;
                    }
                    h4 {
                        margin-left: 11px;
                        margin-top: 40px;
                        span {
                            font-weight: 700;
                            color: #57cc3d
                        }
                    }
                    button {
                        margin: 15px;
                        background-color: #57cc3d;
                        &:hover {
                            background-color: darken(#57cc3d, 10%);
                            transition: all 0.2s ease-in-out;
                        }
                    }
                    #login {
                        font-size: 15px;
                    }
                }
            }
        }
        .matches{
                border: 2px solid $grey;
                border-radius: 5px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                height: auto;
                margin-bottom: 50px;
            
                .profile-image{
                    height: 100px;
                    width: 100px;
                    border-radius: none;
                    margin: 15px;   
                    img{
                        height: 100px;
                        width: 100px;
                    }
                }
            .profile-desc{
                text-align: left;
                margin-left: 15px;

            }
            .buttons{
                margin-top: 20px;
                button{
                    width: 130px;
                    margin-bottom: 5px;
                }
            }
                
            }
    }
}

#footer {
    .content-wrapper {
        width: 100%;
        background-color: transparent;
        .social-media {
            width: 33%;
            margin: 0 auto;
            .thumbnail {
                background-color: transparent;
                display: inline-block;
                border: none;
                width: 60px;
                height: 60px;
                margin-right: 0px;
                .image {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 35px;
                        width: 35px;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -ms-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        &:hover {
                            -webkit-transform: scale(1.4);
                            -moz-transform: scale(1.4);
                            -ms-transform: scale(1.4);
                            -o-transform: scale(1.4);
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
    }
}

#mainNav{

    z-index: 1000;
    .container{
        .navbar-header{
            margin-top: 30px;
            background-color: transparent;
            a{
                font-size: 42px;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                color: #5FCE46;
                span{
                    font-weight: 300;
                    color: #3D3D3D;
                }
            }
        }
        .nav-nav{
            background-color: transparent;
            float: right;
            margin-top: 30px;
            margin-right: -20px;
            ul li{
                font-size: 20px;
                display: inline-block;
                a{
                    color: #46a830;
                    &:hover{
                        color: darken(#46a830, 20%);
                    }
                }
            }
        }
        
    }
}





























